.p--table,
h1,
.p--graphs--experimentalBtn,
.p--graphs--warningBtn,
.p--footer {
    display: none;
}
body,
.p--header {
    background-color: #000;
}
h1, h2, h3, h4, h5, a,
.p--graphs--description, 
.p--graphs--experimental, 
.p--graphs--warning,
.p--graphs--detailBox  {
    color: #9E5DF0;
}
.p--lineChart--areaLine {
    stroke: #9E5DF0;
}
.p--graphs--descriptionBtn.active {
    background-color: #9E5DF0;
}

.p--graphs--graph {
    border-bottom: 1px solid #9E5DF3;
}
h2 {
    background-color: #202020;
    border-top: 1px solid #9E5DF0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
main {
    padding: 3% 0;
}
.p--lineChart--area {
    fill: rgba(65, 65, 65, 0.5);
}
.lineChart--circle {
    fill: #9E5DF0;
    stroke: #FFF;
}
